<h1 class="border-bot">About Amir Moazami</h1>
<div class="col-1 indent-bot">
	<p>
Amir Moazami, President and Owner of Moazami Homes, graduated from the McCombs Business School at The University of Texas at Austin in 2001. He began his career in real estate during his junior year at UT.  He earned his real estate license at the age of 20 and obtained his broker’s license six months after graduation from college.  Amir’s experience over the first decade of his career included residential brokerage & investment, property management and over $150 million of commercial brokerage and syndication.  He also began remodeling and selling homes for himself in 2004.  In 2009, he made the decision to pursue his passion and started his own real estate company.  Amir has been personally involved in the design, build and renovation of over 50 homes in central Austin.  He puts his heart and soul into his work and is detail oriented. His dedication and energy combines with his strong desire to create superior homes, adhering to the same criteria and expectations in which he would build for himself.  Each home is designed and constructed with the utmost care and commitment to excellence.
  </p>
</div>
