<h1 class="border-bot">Contact Information</h1>
<div class="col-1 indent-bot">
	<h3>Address:</h3>
    <p> Moazami Homes, LLC<br />
        3571 Far West Blvd, #220<br />
        Austin, Texas 78731<br /></p>
    <h3>Phones:</h3>
    <p> <strong>512.298.2391</strong> - Amir Moazami: President and Owner<br />
        <strong>512.298.2395</strong> - Amy Mosier: Executive Assistant</p>
</div>
