<h1 class="border-bot">Company Profile</h1>
<div class="col-1 indent-bot" style="width: 500px;">
  <p>
    Moazami Homes, LLC, is a premier custom and spec homebuilder and remodeler in Austin, Texas. Innovative and energy efficient construction combine with unprecedented, leading architectural design to create homes with exceptional quality and refined craftsmanship.  
  </p>
  <p>
    Moazami Homes is dedicated to providing a personal, hands-on approach to each new home. Our vision is built upon inspiration and commitment to providing results that exceed expectations. Each home is unique and reflects our creative passion, comprehensive experience and attention to detail.
  </p>
  <p>
    Whether building new or remodeling an existing home, Moazami Homes takes great care to preserve the character of the neighborhood and the individualistic style of each client. We take pride in our work and foster positive builder/client relationships by maintaining a reputation of integrity and honesty. We strive to make the building or remodeling process enriching and enjoyable.
  </p> 
</div>
<div class="col-2" style="margin-left: 25px;">
  <%= link_to "About Amir Moazami", "/amir-bio" %>
</div>

