<%= form_for [@imageable, Picture.new], :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <p>
    <%= f.file_field :image %>
  </p>
  <p><%= f.submit %></p>
<% end %>
