<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "galleries" %>
<% end %>

	<h1>
		<strong>Our</strong> Work
    <% if current_user && current_user.admin? %>
    <span><%= link_to "New Portfolio", new_gallery_path, :class => "button" %></span>
    <% end %>
	</h1>
  <div class="wrapper">
  <% if @galleries.count > 0 %>
    <% @galleries.each do |gallery| %>
        <% if gallery.pictures.count > 0 %>
        <div id="gallery">
          <div class="image">
            <%= link_to first_thumb_link(gallery.pictures), gallery %>
          </div>
          <h3 class="text-1">
            <%= link_to gallery.title, gallery %>
          </h3>
        </div>
        <% end %>
    <% end %>
  <% end %>
  </div>
