* {margin:0; padding:0;}

html {width:100%; background:#151515;}

body {   
        font-family:Arial, Helvetica, sans-serif;
        font-size:100%; 
        color:#494949;
        min-width:916px;
        background:url(image_path('tail-top.gif')) 0 0 repeat-x #151515;
}

.bg {width:100%; background:url(image_path('bg-top.jpg')) center 0 no-repeat;}

.main {
        width:920px;    
        padding:0;
        margin:0 auto;
        font-size:0.75em;
        line-height:1.416em;
}

img {border:0; vertical-align:top; text-align:left;}

a {color:#fff; outline:none;}
a:hover {text-decoration:none;}

object {outline:none;}
fieldset {border:0;}

ul {list-style:none;}

table, table td {padding:0; border:none; border-collapse:collapse;}

.clear {clear:both; width:100%; line-height:0; font-size:0;}

.col-1, .col-2, .col-3, .col-4 {float:left;}
.column-1, .column-2, .column-3 {float:left;}  

.wrapper {width:100%; overflow:hidden;}
.content-wrapper { min-height: 530px }
.extra-wrap {overflow:hidden;}
.extra-box {overflow:hidden;}
 
.container {width:100%;}

p {margin-bottom:17px;}
.p1 {margin-bottom:7px;}
.p2 {margin-bottom:14px;}
.p3 {margin-bottom:26px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.title {margin-bottom:18px;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

.color-1 {color:#fff;}
.color-2 {color:#000;}
.color-3 {color:#666;}
.color-4 {color:#1799cf;}
.color-5 {color:#13b0f1;}
.color-6 {color:#eda202;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:94px;}
.spacing2 {margin-right:34px;}
.spacing3 {margin-right:40px;}

.spacing-bot {margin-bottom:25px;}

.indent {padding:0 0 12px 34px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent-bot2 {margin-bottom:16px;}
.img-indent {float:left; margin:0 22px 0px 0;}  
.img-indent2 {float:left; margin:0 13px 0px 0;} 
.img-indent-r {float:right; margin:0 0px 0px 40px;}     

.img-box {float:left; margin-bottom:20px;}      

.prev-indent-bot {margin-bottom:10px;}
.prev-indent {float:left; margin:0 1px 0px 0;}  
.prev-box {float:left; margin-bottom:8px;}      

.border {border:3px solid #000;}
.border2 {border:1px solid #000;}

.buttons a:hover {cursor:pointer;}

.menu li a,
.list-1 li a,
.list-2 li a, 
.link-2, 
.sub-menu li a,
.button,
.button-form1, 
#footer a,
.logo a {text-decoration:none;} 

/*********************************header*************************************/
#header {height:250px; width: 100%;}
#header.home {height:794px; width:100%;}

#header .row-1 {height:138px;}

.sub-menu {float:right; padding:72px 9px 0 0;}
.sub-menu li {float:left; font-size:11px; padding:0 10px; line-height:21px; background:url(image_path('spacer.gif')) right 5px no-repeat;}
.sub-menu li a {color:#515151;}
.sub-menu li a:hover {color:#fff;}
.sub-menu .last-item {background:none;}

.logo {float:left; padding:57px 0 0 3px;}

.menu {padding:0px 0px 0 0;}
.menu li {float:left; font-size:14px; padding-right:2px; line-height:1.2em; text-transform:uppercase; position:relative;}
.menu li a {display:block; width:151px; text-align:center; padding:21px 0 22px; color:#fcfcfc; background:url(image_path('menu.gif')) 0 0 no-repeat;}
.menu li .active, .menu li a:hover {color:#101010; background:url(image_path('active.gif')) 0 0 no-repeat;}
.menu .last-item {padding:0;}

/*********************************content*************************************/
#content {width:100%;}

.spacer-1 {width:100%; background:url(image_path('pic-1.gif')) 217px 0 repeat-y;}
.spacer-2 {width:100%; background:url(image_path('pic-1.gif')) 460px 0 repeat-y;}

h2 {font-size:39px; position:relative; overflow:hidden; min-height:45px; height:auto !important; height:45px; line-height:1.2em; margin:0px 0 18px; color:#737373; letter-spacing:-1px;}
h2 strong {color:#fff;}

h3 {font-size:25px; line-height:1.2em; margin:0px 0 18px; color:#737373; letter-spacing:-1px;}
h3 strong {color:#fff;}

.title-1 {font-size:20px; line-height:1.2em; margin:0px 0 0px; color:#fff; letter-spacing:normal;}

.scroll {overflow:auto; height:180px; position:relative;}
.scroll .padding-right {height:1%; padding-right:50px;}

.border-bot {padding-bottom:16px; background: image_url('pic-1.gif') 0 bottom repeat-x;}
.border-bot2 {padding-bottom:32px; background: image_url('pic-1.gif') 0 bottom repeat-x;}
.border-bot3 {padding-bottom:12px; background: image_url('pics-x.gif') 0 bottom repeat-x;}

.box {width:100%;}
.box .box-top {height:14px; font-size:0; line-height:0;} 
.box .corner-top-left {padding-left:14px; background: image_url('corner-top-left.png') 0 0 no-repeat;}
.box .corner-top-right {padding-right:14px; background: image_url('corner-top-right.png') right 0 no-repeat;}
.box .tail-top {height:14px; width:100%; background: image_url('tail-top.png') 0 0 repeat;}

.box .box-bot {height:14px; font-size:0; line-height:0; width:100%;} 
.box .corner-bot-left {padding-left:14px; background: image_url('corner-bot-left.png') 0 bottom no-repeat;}
.box .corner-bot-right {padding-right:14px; background: image_url('corner-bot-right.png') right bottom no-repeat;}
.box .tail-bot {height:14px; width:100%; background: image_url('tail-bot.png') 0 0 repeat;}

.box .tail-left {width:100%; background: image_url('tail-left.png') 0 0 repeat-y;}
.box .tail-right {padding:0 14px; background: image_url('tail-right.png') right 0 repeat-y;}
.box .box-content {width:100%; background:#000;}

.box-content .padding {padding:56px 45px 50px 64px;}

.button {display:inline-block; color:#fff; padding:5px 10px; border:1px solid #252525; background: image_url('button.gif') center 0 no-repeat #151515;}
.button:hover {color:#fff;}

.button1 {display:inline-block; font-size:12px; padding-left:9px; color:#fff; background: image_url('button-left.png') 0 0 no-repeat;}
.button1 span {display:inline-block; cursor:pointer; padding-right:9px; background: image_url('button-right.png') right 0 no-repeat;}
.button1 span span {padding:2px 3px 3px; background: image_url('button-tail.png') 0 0 repeat-x;}
.button1 strong {padding:0 0 0 8px; background: image_url('marker-1.gif') 0 6px no-repeat;}
.button1:hover {color:#24a3ce;}

.content-box {padding:50px 0 40px; line-height:1.538em;}

.list-1 li {font-size:12px; line-height:25px; padding-left:20px; background: image_url('marker-1.gif') 2px 9px no-repeat;}
.list-1 li a {color:#fff;}
.list-1 li a:hover {color:#98be07;}
.list-1 .last-item {background:none;}

.list-2 li {line-height:22px; padding-left:12px; background: image_url('marker-2.gif') 0 8px no-repeat;}
.list-2 li a {color:#fff;}
.list-2 li a:hover {color:#1799cf;}

.list-3 {list-style:decimal-leading-zero;}
.list-3 li {font-size:12px; line-height:16px; color:#fff; padding-bottom:12px; margin-left:25px; list-style-type:decimal-leading-zero;}
.list-3 li a {color:#eda202;}
.list-3 li a:hover {color:#24a3ce;}

.link-1 {display:inline-block; color:#fff; padding-right:13px; background: image_url('marker-1.gif') right 6px no-repeat;}
.link-1:hover {color:#98be07;} 

.link-2 {font-size:17px; line-height:21px; color:#fff;}
.link-2:hover {text-decoration:underline;} 

.marker-1 {display:inline-block; padding-left:19px; background: image_url('marker-1.gif') 0 6px no-repeat;}

.text-1 {font-size:17px; line-height:21px; color:#fff;}  
.text-2 {line-height:21px;}  
.text-3 {font-size:11px; line-height:16px; color:#494949;}  

.gallery li {float:left; padding-right:4px;}
.gallery .navigation {margin-top:22px; float:left;}
.gallery .last-item {padding:0;}

.info span {float:left; width:90px;}

.box-form1 {width:244px; height:116px; background: image_url('bg-form.gif') 0 0 no-repeat;}
.box-form1 .padding {padding:25px 0 0 25px;}

#form-1 {display:block;}
#form-1 input {float:left; width:156px; font-size:1em; color:#000; padding:4px 5px; font-family:Arial, Helvetica, sans-serif; border:0; background:#fff;}

.button-form1 {float:left; display:block; padding:3px 4px 3px 5px; font-weight:bold; color:#fff; font-size:14px; background:#494949;}
.button-form1:hover {color:#000;}

.button:hover {color:#24a3ce;}

#form-main .column-1 {width:233px;}
#form-main .column-2 {width:262px;}

#form-main label {display:block; height:25px;}
#form-main input {width:216px; font-size:1em; color:#494949; padding:2px 5px 1px; font-family:Arial, Helvetica, sans-serif; border:1px solid #a4a4a4; background:#0d0d0d;}
#form-main textarea {height:65px; overflow:auto; width:250px; font-size:1em; color:#494949; padding:2px 5px 1px; font-family:Arial, Helvetica, sans-serif; border:1px solid #a4a4a4; background:#0d0d0d;}

.buttons {padding-top:15px; text-align:right;}
.buttons a {margin-left:25px;}

/****************************footer************************/
#footer {width:100%; padding:25px 0 47px; background:#161616;}

.text-bot {float:right; font-size:11px; color:#606060; text-align:right;}
.text-bot a {color:#fff;}
.text-bot a:hover {color:#98be07;}
.text-bot span {padding-right:9px;} 

.menu-bot {float:left; padding:0px 0 0 2px;}
.menu-bot li {float:left; font-size:11px; padding:0 10px; background: image_url('spacer-bot.gif') right 4px no-repeat;}
.menu-bot li a {color:#4f4f4f;}
.menu-bot li .active, .menu-bot li a:hover {color:#fff;}
.menu-bot .item {padding-left:0;}
.menu-bot .last-item {background:none;}
