// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border-bot {
  margin-bottom: 20px;
}

.text-1 {
  margin-bottom: 5px;
}
.text-2 {
  display: block;
  margin-bottom: 75px;
}
ul.details {

  li {
    float: left;
    margin-right: 10px;
  }
}

.slide-nav {
  margin: 10px 0;
  text-align: center;
}

#pictures {
  clear: both;
  overflow: auto;

  .picture {
    border: solid 1px #CCC;
    padding: 10px 10px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;

    .actions {
      font-size: 10px;
      text-align: center;
      color: #777;
    }
  }
}

.col-2 { 
  margin-left: 25px;
}
