<div id="footer">
	<div class="wrapper">
		<ul class="menu-bot">
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">About</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
			<li>
				<a href="#">Legal</a>
			</li>
			<li>
				<a href="#">Gallery</a>
			</li>
			<li>
				<a href="#">Blog</a>
			</li>
		</ul>
		<div class="text-bot">
			<span>Moazami Homes &copy; <%= Time.now.year %></span>
		</div>
	</div>
</div>
