<div id="header">
	<div class="row-1">
		<div class="wrapper">
			<div class="logo">
        <%= link_to logo, root_path %>
			</div>
      <ul class="sub-menu">
      	<li>
      		<a href="#">Help</a>
      	</li>
      	<li>
      		<a href="#">FAQ's</a>
      	</li>
      	<li>
      		<a href="#" class="last-item">RSS</a>
      	</li>
      </ul>
		</div>
	</div>
  <div class="row-2">
  	<div class="wrapper">
  		<ul class="menu">
  			<li>
  				<a href="index.html">Home</a>
  			</li>
  			<li>
  				<a href="#" class="active">About Us</a>
  			</li>
  			<li>
  				<a href="#">Services</a>
  			</li>
  			<li>
  				<a href="#">Gallery</a>
  			</li>
  			<li>
  				<a href="#">Links</a>
  			</li>
  			<li>
  				<a href="#">Contacts</a>
  			</li>
  		</ul>
  	</div>
  </div>
</div>
